@import url('https://fonts.googleapis.com/css?family=Unica+One:400|Teko:400,300,500');

@font-face {
                          font-family: "SofiaProSemiBold";
                          src: url('../fonts/SofiaProSemiBold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SofiaProRegular";
                          src: url('../fonts/SofiaProRegular.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "OpenSans-Regular";
                          src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SofiaProBold";
                          src: url('../fonts/SofiaProBold.ttf') format("truetype");
                        }
                        
.anima-overlay {
  position            : absolute;
  opacity             : 0;
  display             : none;
  top                 : 0;
  width               : 100%;
  height              : 100%;
}
.comingsoon {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 724px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.comingsoon .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : -80px;
  height              : calc(100.00% + 433px);
  width               : calc(100.00% + 221px);
  position            : absolute;
  margin              : 0;
  left                : -111px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .background .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1157px;
  width               : 1245px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .background .group14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -148px;
  height              : 1399px;
  width               : 2046px;
  position            : absolute;
  margin              : 0;
  left                : -252px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 55px;
  width               : 172px;
  position            : fixed;
  margin              : 0;
  left                : 50px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.comingsoon .logo:hover {
  transform           : scale(0.9);
}
.comingsoon .logo .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 55px;
  width               : 172px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .logo .kseniapavlova {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : auto;
  width               : auto;
  position            : fixed;
  margin              : 0;
  left                : -2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 40.0px;
  color               : rgba(38, 38, 38, 1.0);
  text-align          : center;
  line-height         : 57.0px;
}
.comingsoon .menu {
  background-color    : rgba(255,255,255,0.0);
  width               : 76px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .menu-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 30px;
  align-items         : center;
  height              : 57px;
  width               : 100%;
  position            : fixed;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.comingsoon .menu .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 57px;
  width               : 76px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .menu .menu1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(38, 38, 38, 1.0);
  text-align          : left;
  letter-spacing      : 10.5px;
  line-height         : 43.0px;
}
.comingsoon .menu .menu1:hover {
  transform           : scale(0.9);
}
.comingsoon .viewproject {
  background-color    : rgba(255,255,255,0.0);
  right               : 39px;
  top                 : 30px;
  height              : 57px;
  width               : 276px;
  position            : fixed;
  margin              : 0;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.comingsoon .viewproject:hover {
  transform           : scale(0.9);
}
.comingsoon .viewproject .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 57px;
  width               : 276px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .viewproject .viewprojects {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(38, 38, 38, 1.0);
  text-align          : left;
  letter-spacing      : 10.5px;
  line-height         : 43.0px;
}
.comingsoon .aboutbl {
  background-color    : rgba(255,255,255,0.0);
  top                 : 340px;
  height              : 127px;
  width               : 206px;
  position            : fixed;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .aboutbl .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 127px;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .aboutbl .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 127px;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .aboutbl .group2 .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 49.51%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .aboutbl .group2 .group1 .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 44.88%;
  height              : 2.36%;
  width               : 41.18%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .aboutbl .group2 .group1 .about {
  background-color    : rgba(255,255,255,0.0);
  right               : -37.25%;
  top                 : calc(50.00% - 26px);
  height              : 51px;
  width               : 123.53%;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 35.0px;
  color               : rgba(38, 38, 38, 1.0);
  text-align          : left;
  letter-spacing      : 13.0px;
  line-height         : 51.0px;
}
.comingsoon .aboutbl .group2 .downinteraction {
  background-color    : rgba(255,255,255,0.0);
  right               : 17.48%;
  top                 : 3.94%;
  height              : 82.68%;
  width               : 15.53%;
  position            : absolute;
  margin              : 0;
  overflow            : hidden;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
}
.comingsoon .aboutbl .group2 .downinteraction .background2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .aboutbl .group2 .downinteraction .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .aboutbl .group2 .downinteraction .group3 .path40 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 71.43%;
  width               : 11.11%;
  position            : absolute;
  margin              : 0;
  left                : 44.44%;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .aboutbl .group2 .downinteraction .group3 .triangle {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 4.08%;
  height              : 37.76%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(180deg); /* IE 9 */
  -webkit-transform   : rotate(180deg); /* Chrome, Safari, Opera */
  transform           : rotate(180deg);
}
.comingsoon .skillsbl {
  background-color    : rgba(255,255,255,0.0);
  right               : 0px;
  top                 : 336px;
  height              : 127px;
  width               : 206px;
  position            : fixed;
  margin              : 0;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .skillsbl .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 127px;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .skillsbl .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 139px;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 105px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .skillsbl .group1 .line2 {
  background-color    : rgba(255,255,255,0.0);
  right               : 0.98%;
  top                 : 43.17%;
  height              : 2.16%;
  width               : 41.18%;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .skillsbl .group1 .skills {
  background-color    : rgba(255,255,255,0.0);
  top                 : calc(50.00% - 26px);
  height              : 51px;
  width               : 136.27%;
  position            : absolute;
  margin              : 0;
  left                : -43.14%;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 35.0px;
  color               : rgba(38, 38, 38, 1.0);
  text-align          : left;
  letter-spacing      : 13.0px;
  line-height         : 51.0px;
}
.comingsoon .skillsbl .downinteractionbl {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  overflow            : hidden;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.comingsoon .skillsbl .downinteractionbl .background2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .skillsbl .downinteractionbl .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .skillsbl .downinteractionbl .group2 .path40 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 71.43%;
  width               : 11.11%;
  position            : absolute;
  margin              : 0;
  left                : 44.44%;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .skillsbl .downinteractionbl .group2 .triangle {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 4.08%;
  height              : 37.76%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(180deg); /* IE 9 */
  -webkit-transform   : rotate(180deg); /* Chrome, Safari, Opera */
  transform           : rotate(180deg);
}
.comingsoon .socialbl {
  background-color    : rgba(255,255,255,0.0);
  margin-right        : -0px;
  width               : 193px;
  height              : 100%;
  pointer-events      : auto;
  margin-left         : 0px;
  position            : relative;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .socialbl-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  align-items         : center;
  bottom              : 15px;
  height              : 26px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.comingsoon .socialbl .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 193px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .socialbl .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .socialbl .group5 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .socialbl .group5 .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .socialbl .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 168px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .socialbl .group6 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .socialbl .group6 .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .socialbl .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 19px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 84px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .socialbl .group7 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .socialbl .group7 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .group {
  background-color    : rgba(255,255,255,0.0);
  width               : 510px;
  height              : 305px;
  pointer-events      : auto;
  margin-top          : 48px;
  position            : relative;
  margin-bottom       : -48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .group-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.comingsoon .group .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 259px;
  height              : 46px;
  width               : 227px;
  position            : absolute;
  margin              : 0;
  left                : 141px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.comingsoon .group .group3:hover {
  transform           : translate(0, -5px);
  box-shadow          : 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.comingsoon .group .group3 .rectangle {
  background-color    : rgba(13, 13, 11, 1.0);
  top                 : 0px;
  height              : 46px;
  width               : 227px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.comingsoon .group .group3 .contactme {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SofiaProRegular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 3.01px;
  line-height         : 37.0px;
}
.comingsoon .group .comingsoon1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SofiaProBold", Helvetica, Arial, serif;
  font-size           : 60.0px;
  color               : rgba(38, 38, 38, 1.0);
  text-align          : center;
  letter-spacing      : 7.0px;
  line-height         : 72.0px;
}
.comingsoon .group .websiteisundercon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 107px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SofiaProRegular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  letter-spacing      : 2.33px;
  line-height         : 34.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}