@import url('https://fonts.googleapis.com/css?family=Unica+One:400|Teko:500,300,400');

@font-face {
                          font-family: "SofiaProRegular";
                          src: url('../fonts/SofiaProRegular.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SofiaProUltraLight";
                          src: url('../fonts/SofiaProUltraLight.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SofiaProSemiBold";
                          src: url('../fonts/SofiaProSemiBold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "OpenSans-Regular";
                          src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SofiaProBold";
                          src: url('../fonts/SofiaProBold.ttf') format("truetype");
                        }
                        
.anima-overlay {
  position            : absolute;
  opacity             : 0;
  display             : none;
  top                 : 0;
  width               : 100%;
  height              : 100%;
}
.skillux {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 1673px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.skillux .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : -80px;
  height              : calc(100.00% + 160px);
  width               : calc(100.00% + 204px);
  position            : absolute;
  margin              : 0;
  left                : -102px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .menu {
  background-color    : rgba(255,255,255,0.0);
  width               : 76px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .menu-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 30px;
  align-items         : center;
  height              : 57px;
  width               : 100%;
  position            : fixed;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.skillux .menu .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 57px;
  width               : 76px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .menu .menu1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 10.5px;
  line-height         : 43.0px;
}
.skillux .menu .menu1:hover {
  transform           : scale(0.9);
}
.skillux .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 55px;
  width               : 172px;
  position            : fixed;
  margin              : 0;
  left                : 50px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.skillux .logo:hover {
  transform           : scale(0.9);
}
.skillux .logo .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 55px;
  width               : 172px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .logo .kseniapavlova {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : auto;
  width               : auto;
  position            : fixed;
  margin              : 0;
  left                : -2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 40.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 57.0px;
}
.skillux .viewproject {
  background-color    : rgba(255,255,255,0.0);
  right               : 39px;
  top                 : 30px;
  height              : 57px;
  width               : 265px;
  position            : fixed;
  margin              : 0;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.skillux .viewproject:hover {
  transform           : scale(0.9);
}
.skillux .viewproject .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 57px;
  width               : 265px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .viewproject .viewprojects {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 10.5px;
  line-height         : 43.0px;
}
.skillux .rectangle {
  background-color    : rgba(255,255,255,0.0);
  width               : 654px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  overflow            : hidden;
}
.skillux .rectangle-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 110px;
  align-items         : center;
  height              : 654px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.skillux .previous {
  background-color    : rgba(255,255,255,0.0);
  top                 : 386px;
  height              : 100px;
  width               : 206px;
  position            : fixed;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .previous .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100px;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .previous .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -9px;
  height              : 118px;
  width               : 223px;
  position            : absolute;
  margin              : 0;
  left                : -8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .previous .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 101px;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .previous .group1 .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42.57%;
  height              : 2.97%;
  width               : 40.78%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .previous .group1 .prev {
  background-color    : rgba(255,255,255,0.0);
  right               : -24.27%;
  top                 : calc(50.00% - 26px);
  height              : 51px;
  width               : 97.09%;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 35.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 13.0px;
  line-height         : 51.0px;
}
.skillux .previous .downinteraction1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -9px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 138px;
  overflow            : hidden;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
}
.skillux .previous .downinteraction1 .background2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .previous .downinteraction1 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .previous .downinteraction1 .group2 .path40 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 71.43%;
  width               : 11.11%;
  position            : absolute;
  margin              : 0;
  left                : 44.44%;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .previous .downinteraction1 .group2 .triangle {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 4.08%;
  height              : 37.76%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(180deg); /* IE 9 */
  -webkit-transform   : rotate(180deg); /* Chrome, Safari, Opera */
  transform           : rotate(180deg);
}
.skillux .downinteraction {
  background-color    : rgba(255,255,255,0.0);
  top                 : 608px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : calc(50.00% - 16px);
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .downinteraction .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .downinteraction .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .downinteraction .group1 .path40 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 71.43%;
  width               : 11.11%;
  position            : absolute;
  margin              : 0;
  left                : 44.44%;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .downinteraction .group1 .triangle {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 4.08%;
  height              : 37.76%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(180deg); /* IE 9 */
  -webkit-transform   : rotate(180deg); /* Chrome, Safari, Opera */
  transform           : rotate(180deg);
}
.skillux .skillname {
  background-color    : rgba(255,255,255,0.0);
  width               : 531px;
  margin-right        : 0px;
  height              : 100%;
  pointer-events      : auto;
  margin-left         : -0px;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .skillname-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 294px;
  align-items         : center;
  height              : 251px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.skillux .skillname .uxdesign {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 251px;
  width               : 531px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group {
  background-color    : rgba(255,255,255,0.0);
  width               : 694px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 1462px;
  align-items         : center;
  height              : 128px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.skillux .group .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 76px;
  height              : 52px;
  width               : 674px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group3 .invisionlogovector {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 50px;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 527px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group3 .invisionlogovector .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group3 .invisionlogovector .fill3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 22px;
  width               : 101px;
  position            : absolute;
  margin              : 0;
  left                : 45px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group3 .sympli {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 50px;
  width               : 156px;
  position            : absolute;
  margin              : 0;
  left                : 265px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group3 .sympli .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group3 .sympli .symplilogoremovebgpreview {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 38px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 56px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group3 .zeplin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 52px;
  width               : 159px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group3 .zeplin .group10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 52px;
  width               : 68px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group3 .zeplin .group10 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 19px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(-20deg); /* IE 9 */
  -webkit-transform   : rotate(-20deg); /* Chrome, Safari, Opera */
  transform           : rotate(-20deg);
}
.skillux .group .group3 .zeplin .group10 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 17px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group3 .zeplin .group10 .path1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 19px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(-20deg); /* IE 9 */
  -webkit-transform   : rotate(-20deg); /* Chrome, Safari, Opera */
  transform           : rotate(-20deg);
}
.skillux .group .group3 .zeplin .group10 .combinedshape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : 12px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group3 .zeplin .group10 .path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 13px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(-20deg); /* IE 9 */
  -webkit-transform   : rotate(-20deg); /* Chrome, Safari, Opera */
  transform           : rotate(-20deg);
}
.skillux .group .group3 .zeplin .group10 .path3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 14px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(-20deg); /* IE 9 */
  -webkit-transform   : rotate(-20deg); /* Chrome, Safari, Opera */
  transform           : rotate(-20deg);
}
.skillux .group .group3 .zeplin .group10 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 52px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group3 .zeplin .group10 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 43px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group3 .zeplin .logotype {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 14px;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 77px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group3 .zeplin .logotype .rectangle76copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 14px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group3 .zeplin .logotype .rectangle76copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 14px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group3 .zeplin .logotype .rectangle82copy {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 14px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 61px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group3 .zeplin .logotype .rectangle82copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 14px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 69px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group3 .zeplin .logotype .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 14px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group3 .zeplin .logotype .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 14px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 62px;
  width               : 694px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group2 .maze {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 41px;
  width               : 175px;
  position            : absolute;
  margin              : 0;
  left                : 267px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group2 .maze .iconmaze {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  object-fit          : cover;
}
.skillux .group .group2 .maze .maze1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 107px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "OpenSans-Regular", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -1.93px;
  line-height         : 41.0px;
}
.skillux .group .group2 .cprot {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 62px;
  width               : 193px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group2 .cprot .group11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 41px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group2 .cprot .group11 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group2 .cprot .group11 .combinedshape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group2 .cprot .group11 .combinedshape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group2 .cprot .prototype {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 53px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SofiaProBold", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 2.67px;
  line-height         : 62.0px;
}
.skillux .group .group2 .cprot .prototype .span1 {
  
}
.skillux .group .group2 .cprot .prototype .span2 {
  letter-spacing      : 2.54px;
}
.skillux .group .group2 .framer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 50px;
  width               : 178px;
  position            : absolute;
  margin              : 0;
  left                : 516px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group2 .framer .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .group .group2 .framer .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 24px;
  width               : 126px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .discoverdefinede {
  background-color    : rgba(255,255,255,0.0);
  width               : auto;
  height              : auto;
  pointer-events      : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 50.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 8.54px;
  line-height         : 72.0px;
}
.skillux .discoverdefinede-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 1124px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.skillux .fromuserresearcht {
  background-color    : rgba(255,255,255,0.0);
  width               : 939px;
  margin-right        : -0px;
  height              : auto;
  pointer-events      : auto;
  margin-left         : 0px;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SofiaProRegular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.8px;
  line-height         : 34.0px;
}
.skillux .fromuserresearcht-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 1263px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.skillux .skills {
  background-color    : rgba(255,255,255,0.0);
  width               : auto;
  height              : auto;
  pointer-events      : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Unica One", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 35.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.skillux .skills-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 506px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.skillux .next {
  background-color    : rgba(255,255,255,0.0);
  right               : 0px;
  top                 : 388px;
  height              : 100px;
  width               : 206px;
  position            : fixed;
  margin              : 0;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .next .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100px;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .next .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -9px;
  height              : 118px;
  width               : 223px;
  position            : absolute;
  margin              : 0;
  left                : -6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .next .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 99px;
  width               : 104px;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .next .group1 .line2 {
  background-color    : rgba(255,255,255,0.0);
  right               : 0px;
  top                 : 42.42%;
  height              : 3.03%;
  width               : 40.38%;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .next .group1 .next1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : calc(50.00% - 26px);
  height              : 51px;
  width               : 94.23%;
  position            : absolute;
  margin              : 0;
  left                : -22.12%;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 35.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 13.0px;
  line-height         : 51.0px;
}
.skillux .next .downinteraction1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -9px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  overflow            : hidden;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.skillux .next .downinteraction1 .background2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .next .downinteraction1 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .next .downinteraction1 .group2 .path40 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 71.43%;
  width               : 11.11%;
  position            : absolute;
  margin              : 0;
  left                : 44.44%;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .next .downinteraction1 .group2 .triangle {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 4.08%;
  height              : 37.76%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(180deg); /* IE 9 */
  -webkit-transform   : rotate(180deg); /* Chrome, Safari, Opera */
  transform           : rotate(180deg);
}
.skillux .social {
  background-color    : rgba(255,255,255,0.0);
  width               : 193px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .social-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  align-items         : center;
  bottom              : 30px;
  height              : 26px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.skillux .social .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 193px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .social .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .social .group5 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .social .group5 .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .social .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 168px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .social .group6 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .social .group6 .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .social .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 19px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 84px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .social .group7 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillux .social .group7 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}