@import url('https://fonts.googleapis.com/css?family=Unica+One:400|Teko:500,300,400');

@font-face {
                          font-family: "SofiaProRegular";
                          src: url('../fonts/SofiaProRegular.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SofiaProUltraLight";
                          src: url('../fonts/SofiaProUltraLight.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SofiaProSemiBold";
                          src: url('../fonts/SofiaProSemiBold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "OpenSans-Regular";
                          src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SofiaProBold";
                          src: url('../fonts/SofiaProBold.ttf') format("truetype");
                        }
                        
.anima-overlay {
  position            : absolute;
  opacity             : 0;
  display             : none;
  top                 : 0;
  width               : 100%;
  height              : 100%;
}
.skillui {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 1673px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.skillui .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : -80px;
  height              : calc(100.00% + 160px);
  width               : calc(100.00% + 204px);
  position            : absolute;
  margin              : 0;
  left                : -102px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .menu {
  background-color    : rgba(255,255,255,0.0);
  width               : 76px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .menu-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 30px;
  align-items         : center;
  height              : 57px;
  width               : 100%;
  position            : fixed;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.skillui .menu .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 57px;
  width               : 76px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .menu .menu1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 10.5px;
  line-height         : 43.0px;
}
.skillui .menu .menu1:hover {
  transform           : scale(0.9);
}
.skillui .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 55px;
  width               : 172px;
  position            : fixed;
  margin              : 0;
  left                : 50px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.skillui .logo:hover {
  transform           : scale(0.9);
}
.skillui .logo .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 55px;
  width               : 172px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .logo .kseniapavlova {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : auto;
  width               : auto;
  position            : fixed;
  margin              : 0;
  left                : -2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 40.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 57.0px;
}
.skillui .viewproject {
  background-color    : rgba(255,255,255,0.0);
  right               : 39px;
  top                 : 30px;
  height              : 57px;
  width               : 265px;
  position            : fixed;
  margin              : 0;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.skillui .viewproject:hover {
  transform           : scale(0.9);
}
.skillui .viewproject .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 57px;
  width               : 265px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .viewproject .viewprojects {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 10.5px;
  line-height         : 43.0px;
}
.skillui .rectangle {
  background-color    : rgba(255,255,255,0.0);
  width               : 654px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  overflow            : hidden;
}
.skillui .rectangle-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 110px;
  align-items         : center;
  height              : 654px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.skillui .previous {
  background-color    : rgba(255,255,255,0.0);
  top                 : 386px;
  height              : 100px;
  width               : 206px;
  position            : fixed;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .previous .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100px;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .previous .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -9px;
  height              : 118px;
  width               : 223px;
  position            : absolute;
  margin              : 0;
  left                : -8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .previous .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 101px;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .previous .group1 .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42.57%;
  height              : 2.97%;
  width               : 40.78%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .previous .group1 .prev {
  background-color    : rgba(255,255,255,0.0);
  right               : -24.27%;
  top                 : calc(50.00% - 26px);
  height              : 51px;
  width               : 97.09%;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 35.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 13.0px;
  line-height         : 51.0px;
}
.skillui .previous .downinteraction1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -9px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 138px;
  overflow            : hidden;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
}
.skillui .previous .downinteraction1 .background2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .previous .downinteraction1 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .previous .downinteraction1 .group2 .path40 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 71.43%;
  width               : 11.11%;
  position            : absolute;
  margin              : 0;
  left                : 44.44%;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .previous .downinteraction1 .group2 .triangle {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 4.08%;
  height              : 37.76%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(180deg); /* IE 9 */
  -webkit-transform   : rotate(180deg); /* Chrome, Safari, Opera */
  transform           : rotate(180deg);
}
.skillui .downinteraction {
  background-color    : rgba(255,255,255,0.0);
  top                 : 608px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : calc(50.00% - 16px);
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .downinteraction .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .downinteraction .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .downinteraction .group1 .path40 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 71.43%;
  width               : 11.11%;
  position            : absolute;
  margin              : 0;
  left                : 44.44%;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .downinteraction .group1 .triangle {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 4.08%;
  height              : 37.76%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(180deg); /* IE 9 */
  -webkit-transform   : rotate(180deg); /* Chrome, Safari, Opera */
  transform           : rotate(180deg);
}
.skillui .skillname {
  background-color    : rgba(255,255,255,0.0);
  width               : 503px;
  margin-right        : 0px;
  height              : 100%;
  pointer-events      : auto;
  margin-left         : -0px;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .skillname-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 294px;
  align-items         : center;
  height              : 251px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.skillui .skillname .uidesign {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 251px;
  width               : 503px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .group {
  background-color    : rgba(255,255,255,0.0);
  width               : 497px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .group-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 1516px;
  align-items         : center;
  height              : 51px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.skillui .group .group20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 50px;
  width               : 183px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .group .group20 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 30px;
  width               : 119px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .group .group20 .group19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 51px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .group .group20 .group19 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 51px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .group .group20 .group19 .combinedshape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 41px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .group .group16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 164px;
  position            : absolute;
  margin              : 0;
  left                : 333px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .group .group16 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .group .group16 .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 24px;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 69px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .animateengagegui {
  background-color    : rgba(255,255,255,0.0);
  width               : auto;
  height              : auto;
  pointer-events      : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 50.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 8.54px;
  line-height         : 72.0px;
}
.skillui .animateengagegui-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 1124px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.skillui .aninterfaceisthe {
  background-color    : rgba(255,255,255,0.0);
  width               : 902px;
  height              : auto;
  pointer-events      : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SofiaProRegular", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 1.8px;
  line-height         : 34.0px;
}
.skillui .aninterfaceisthe-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 1288px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.skillui .skills {
  background-color    : rgba(255,255,255,0.0);
  width               : auto;
  height              : auto;
  pointer-events      : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Unica One", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 35.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.skillui .skills-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 506px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.skillui .next {
  background-color    : rgba(255,255,255,0.0);
  right               : 0px;
  top                 : 388px;
  height              : 100px;
  width               : 206px;
  position            : fixed;
  margin              : 0;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .next .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100px;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .next .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -9px;
  height              : 118px;
  width               : 223px;
  position            : absolute;
  margin              : 0;
  left                : -6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .next .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 99px;
  width               : 104px;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .next .group1 .line2 {
  background-color    : rgba(255,255,255,0.0);
  right               : 0px;
  top                 : 42.42%;
  height              : 3.03%;
  width               : 40.38%;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .next .group1 .next1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : calc(50.00% - 26px);
  height              : 51px;
  width               : 94.23%;
  position            : absolute;
  margin              : 0;
  left                : -22.12%;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 35.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 13.0px;
  line-height         : 51.0px;
}
.skillui .next .downinteraction1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -9px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  overflow            : hidden;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.skillui .next .downinteraction1 .background2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .next .downinteraction1 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .next .downinteraction1 .group2 .path40 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 71.43%;
  width               : 11.11%;
  position            : absolute;
  margin              : 0;
  left                : 44.44%;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .next .downinteraction1 .group2 .triangle {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 4.08%;
  height              : 37.76%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(180deg); /* IE 9 */
  -webkit-transform   : rotate(180deg); /* Chrome, Safari, Opera */
  transform           : rotate(180deg);
}
.skillui .social {
  background-color    : rgba(255,255,255,0.0);
  width               : 193px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .social-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  align-items         : center;
  bottom              : 30px;
  height              : 26px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.skillui .social .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 193px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .social .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .social .group5 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .social .group5 .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .social .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 168px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .social .group6 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .social .group6 .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .social .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 19px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 84px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .social .group7 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.skillui .social .group7 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}