@import url('https://fonts.googleapis.com/css?family=Unica+One:400|Teko:300,400,500');

@font-face {
                          font-family: "SofiaProSemiBold";
                          src: url('../fonts/SofiaProSemiBold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SofiaProRegular";
                          src: url('../fonts/SofiaProRegular.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "OpenSans-Regular";
                          src: url('../fonts/OpenSans-Regular.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SofiaProBold";
                          src: url('../fonts/SofiaProBold.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "SofiaProUltraLight";
                          src: url('../fonts/SofiaProUltraLight.ttf') format("truetype");
                        }
                        
.anima-overlay {
  position            : absolute;
  opacity             : 0;
  display             : none;
  top                 : 0;
  width               : 100%;
  height              : 100%;
}
.work3 {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 3835px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.work3 .backgroundwork {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 960px;
  width               : calc(100.00% + 204px);
  position            : absolute;
  margin              : 0;
  left                : -102px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .backgroundwork .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 960px;
  width               : 1228px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .backgroundwork .backgroundwork3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 960px;
  width               : calc(100.00% + 204px);
  position            : absolute;
  margin              : 0;
  left                : -102px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .backgroundwork .u0421u043du0438u043cu043eu043au044du043au0440u0430u043du043020190903u043291818 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 960px;
  width               : 1527px;
  position            : absolute;
  margin              : 0;
  left                : -150px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .rectangle {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 960px;
  width               : calc(100.00% + 204px);
  position            : absolute;
  margin              : 0;
  left                : -102px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.4;
}
.work3 .rectangle1 {
  background-color    : rgba(240, 240, 240, 1.0);
  top                 : 2881px;
  height              : 960px;
  width               : calc(100.00% + 204px);
  position            : absolute;
  margin              : 0;
  left                : -102px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .u0421u043du0438u043cu043eu043au044du043au0440u0430u043du043020190903u043291751 {
  background-color    : rgba(255,255,255,0.0);
  width               : 1301px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .u0421u043du0438u043cu043eu043au044du043au0440u0430u043du043020190903u043291751-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 2990px;
  align-items         : center;
  height              : 812px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.work3 .namework {
  background-color    : rgba(255,255,255,0.0);
  width               : 794px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .namework-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 294px;
  align-items         : center;
  height              : 251px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.work3 .namework .easyjapanese {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 175.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 251.0px;
}
.work3 .mobileapp {
  background-color    : rgba(255,255,255,0.0);
  width               : auto;
  margin-right        : -0px;
  height              : auto;
  pointer-events      : auto;
  margin-left         : 0px;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Unica One", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 35.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.work3 .mobileapp-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 506px;
  align-items         : center;
  height              : auto;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.work3 .menu {
  background-color    : rgba(255,255,255,0.0);
  width               : 76px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .menu-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 30px;
  align-items         : center;
  height              : 57px;
  width               : 100%;
  position            : fixed;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.work3 .menu .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 57px;
  width               : 76px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .menu .menu1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 10.5px;
  line-height         : 43.0px;
}
.work3 .menu .menu1:hover {
  transform           : scale(0.9);
}
.work3 .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 55px;
  width               : 172px;
  position            : fixed;
  margin              : 0;
  left                : 50px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.work3 .logo:hover {
  transform           : scale(0.9);
}
.work3 .logo .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 55px;
  width               : 172px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .logo .kseniapavlova {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : auto;
  width               : auto;
  position            : fixed;
  margin              : 0;
  left                : -2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 40.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 57.0px;
}
.work3 .viewproject {
  background-color    : rgba(255,255,255,0.0);
  right               : 39px;
  top                 : 30px;
  height              : 57px;
  width               : 265px;
  position            : fixed;
  margin              : 0;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.2s ease-in-out;
}
.work3 .viewproject:hover {
  transform           : scale(0.9);
}
.work3 .viewproject .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 57px;
  width               : 265px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .viewproject .viewprojects {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 10.5px;
  line-height         : 43.0px;
}
.work3 .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 960px;
  height              : 960px;
  width               : calc(100.00% + 204px);
  position            : absolute;
  margin              : 0;
  left                : -102px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .downinteraction {
  background-color    : rgba(255,255,255,0.0);
  top                 : 608px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : calc(50.00% - 16px);
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .downinteraction .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .downinteraction .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .downinteraction .group .path40 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 71.43%;
  width               : 11.11%;
  position            : absolute;
  margin              : 0;
  left                : 44.44%;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .downinteraction .group .triangle {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 4.08%;
  height              : 37.76%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(180deg); /* IE 9 */
  -webkit-transform   : rotate(180deg); /* Chrome, Safari, Opera */
  transform           : rotate(180deg);
}
.work3 .previous {
  background-color    : rgba(255,255,255,0.0);
  top                 : 366px;
  height              : 100px;
  width               : 206px;
  position            : fixed;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .previous .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100px;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .previous .rectangle4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -9px;
  height              : 118px;
  width               : 223px;
  position            : absolute;
  margin              : 0;
  left                : -8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .previous .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 101px;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .previous .group .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42.57%;
  height              : 2.97%;
  width               : 40.78%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .previous .group .prev {
  background-color    : rgba(255,255,255,0.0);
  right               : -24.27%;
  top                 : calc(50.00% - 26px);
  height              : 51px;
  width               : 97.09%;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 35.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 13.0px;
  line-height         : 51.0px;
}
.work3 .previous .downinteraction1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -9px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 138px;
  overflow            : hidden;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
}
.work3 .previous .downinteraction1 .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .previous .downinteraction1 .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .previous .downinteraction1 .group1 .path40 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 71.43%;
  width               : 11.11%;
  position            : absolute;
  margin              : 0;
  left                : 44.44%;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .previous .downinteraction1 .group1 .triangle {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 4.08%;
  height              : 37.76%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(180deg); /* IE 9 */
  -webkit-transform   : rotate(180deg); /* Chrome, Safari, Opera */
  transform           : rotate(180deg);
}
.work3 .next {
  background-color    : rgba(255,255,255,0.0);
  right               : 0px;
  top                 : 368px;
  height              : 100px;
  width               : 206px;
  position            : fixed;
  margin              : 0;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .next .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100px;
  width               : 206px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .next .rectangle4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -9px;
  height              : 118px;
  width               : 223px;
  position            : absolute;
  margin              : 0;
  left                : -6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .next .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 99px;
  width               : 104px;
  position            : absolute;
  margin              : 0;
  left                : 103px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .next .group .line2 {
  background-color    : rgba(255,255,255,0.0);
  right               : 0px;
  top                 : 42.42%;
  height              : 3.03%;
  width               : 40.38%;
  position            : absolute;
  margin              : 0;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .next .group .next1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : calc(50.00% - 26px);
  height              : 51px;
  width               : 94.23%;
  position            : absolute;
  margin              : 0;
  left                : -22.12%;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
  font-family         : "Teko", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 35.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 13.0px;
  line-height         : 51.0px;
}
.work3 .next .downinteraction1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -9px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  overflow            : hidden;
  -ms-transform       : rotate(-90deg); /* IE 9 */
  -webkit-transform   : rotate(-90deg); /* Chrome, Safari, Opera */
  transform           : rotate(-90deg);
}
.work3 .next .downinteraction1 .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 105px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .next .downinteraction1 .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 98px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .next .downinteraction1 .group1 .path40 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 71.43%;
  width               : 11.11%;
  position            : absolute;
  margin              : 0;
  left                : 44.44%;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .next .downinteraction1 .group1 .triangle {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 4.08%;
  height              : 37.76%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(180deg); /* IE 9 */
  -webkit-transform   : rotate(180deg); /* Chrome, Safari, Opera */
  transform           : rotate(180deg);
}
.work3 .social {
  background-color    : rgba(255,255,255,0.0);
  width               : 193px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .social-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  align-items         : center;
  bottom              : 30px;
  height              : 26px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.work3 .social .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 193px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .social .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .social .group5 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .social .group5 .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 26px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .social .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 168px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .social .group6 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .social .group6 .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .social .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 19px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 84px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .social .group7 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .social .group7 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .group2 {
  background-color    : rgba(255,255,255,0.0);
  width               : 832px;
  height              : 100%;
  pointer-events      : auto;
  position            : relative;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.work3 .group2-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 1253px;
  align-items         : center;
  height              : 374px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.work3 .group2 .easyjapanese {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SofiaProSemiBold", Helvetica, Arial, serif;
  font-size           : 60.0px;
  color               : rgba(60, 60, 60, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 72.0px;
}
.work3 .group2 .iwasresponsiblefo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 99px;
  height              : auto;
  width               : 832px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SofiaProRegular", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(60, 60, 60, 1.0);
  text-align          : left;
  line-height         : 55.0px;
}
.work3 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1920px;
  height              : 960px;
  width               : calc(100.00% + 204px);
  position            : absolute;
  margin              : 0;
  left                : -102px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  overflow            : hidden;
}
.work3 .rectangle3 video {
  object-fit          : cover;
  width               : 100%;
  height              : 100%;
}
/* IE doesn't support cover  */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .work3 .rectangle3 video {
    min-width           : 100%;
    min-height          : 100%;
    position            : absolute;
    margin              : auto;
    top                 : -9999px;
    bottom              : -9999px;
    left                : -9999px;
    right               : -9999px;
  }
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}